.Grid{
  width:400px;
  height: 600px;
  position:relative;
}

.Doodler{
  background-color: #357edd;
  position:absolute;
}

.Platform{
  width:85px;
  height: 15px;
  background-color: #F4F4F4;
  position:absolute;
}